<ion-content>
  <div class="flex-center" class="full-width" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>Informações do usuário:</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>Nome: Felipe</p>
        <p>Condominio: Raizes</p>
      </ion-card-content>
    </ion-card>   
    <ion-button (click)="reserva()" expand="full" >Reservar área de Lazer</ion-button>
    <ion-button expand="full">Encomendas</ion-button>
    <ion-button expand="full">Liberar visitantes</ion-button>
  </div>
</ion-content>
